<ion-header>
  <ion-toolbar>
    <ion-title>
      Log in
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>E-mail</ion-label>
    <ion-input required name="email" type="email" position="floating" placeholder="rachel@example.com" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Password</ion-label>
    <ion-input required name="password" type="password" position="floating" [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-button color="primary" (click)="login()">Log in</ion-button>
</ion-content>