<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <h1>Your Budgets</h1>
  </ion-item>

  <ion-list lines="none">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let budget of budgets.data" size="12" size-md="6" size-lg="4">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Get Started</ion-card-subtitle>
              <ion-card-title>{{budget.attributes.name}}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>